<div class="header">
  <div class="container">
    <h1>threadly</h1>
  </div>
</div>

<div class="main">
  <div class="container">
    <!--
    <form class="form">
      <input id="comment" type="text" placeholder="share your thoughts">
      <button type="submit" class="btn">post</button>
    </form>
    -->
    
    <%= form_for(@new_post) do |f| %>
        <%= f.text_field :comment, :placeholder => "share your thoughts" %>
        <%= f.submit "post", :class => "btn" %>
    <% end %> 

    <ul class="comments">
    <%= @all_posts.each do |p| %>
      <li><%= p.comment %></li>
    <% end %> 
    </ul>
  </div>
</div>